<launch>
	<node pkg="norlab_icp_mapper" type="mapper_node" name="mapper_node">
		<remap from="points_in" to="velodyne_points" />
		<param name="odom_frame" value="odom" />
		<param name="sensor_frame" value="velodyne" />
		<param name="robot_frame" value="base_link" />
		<param name="initial_map_file_name" value="" />
		<param name="initial_map_pose" value="[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1]]" />
		<param name="final_map_file_name" value="map.vtk" />
		<param name="icp_config" value="$(find mapper_config_template)/params/icp_config.yaml" />
		<param name="input_filters_config" value="$(find mapper_config_template)/params/input_filters_config.yaml" />
		<param name="map_post_filters_config" value="$(find mapper_config_template)/params/map_post_filters_config.yaml" />
		<param name="map_update_condition" value="overlap" />
		<param name="map_update_overlap" value="0.9" />
		<param name="map_update_delay" value="1" />
		<param name="map_update_distance" value="0.5" />
		<param name="map_publish_rate" value="10" />
		<param name="map_tf_publish_rate" value="10" />
		<param name="max_idle_time" value="10" />
		<param name="min_dist_new_point" value="0.03" />
		<param name="sensor_max_range" value="80" />
		<param name="prior_dynamic" value="0.6" />
		<param name="threshold_dynamic" value="0.9" />
		<param name="beam_half_angle" value="0.01" />
		<param name="epsilon_a" value="0.01" />
		<param name="epsilon_d" value="0.01" />
		<param name="alpha" value="0.8" />
		<param name="beta" value="0.99" />
		<param name="is_3D" value="true" />
		<param name="is_online" value="true" />
		<param name="compute_prob_dynamic" value="false" />
		<param name="is_mapping" value="true" />
	</node>
</launch>
