<launch>
    <set_parameter name="use_sim_time" value="true" />

    <node pkg="norlab_icp_mapper_ros" exec="mapper_node" name="mapper_node">
        <param name="odom_frame" value="odom" />
        <param name="robot_frame" value="base_link" />
        <param name="mapping_config" value="$(find-pkg-share mapper_config_template)/params/mapper.yaml" />
        <param name="initial_map_file_name" value="" />
        <param name="initial_robot_pose" value="[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1]]" type="str"/>
        <param name="final_map_file_name" value="map.vtk" />
        <param name="final_trajectory_file_name" value="trajectory.vtk" />
        <param name="map_publish_rate" value="10.0" />
        <param name="map_tf_publish_rate" value="10.0" />
        <param name="max_idle_time" value="10.0" />
        <param name="is_mapping" value="true" />
        <param name="is_online" value="true" />
        <param name="is_3D" value="true" />
        <param name="save_map_cells_on_hard_drive" value="true" />
        <param name="publish_tfs_between_registrations" value="true" />

        <remap from="points_in" to="rslidar32_points"/>
    </node>
</launch>
